MOC:CFG_1.0::

# EXT_FYK01.cfg
# IRBP_B.IRBP_B_D.250B_D10
# Descr.: IRBP250B D=1000 Y IRC5 RW5.09
# created 2007/04/27 10:49:30 by param_db $Revision: 1.5 $


# MECHANICAL_UNIT - ?
MECHANICAL_UNIT:
#
-name "INTERCH" -use_run_enable "" -use_activation_relay "INTERCH" \
-use_brake_relay "INTERCH_brake" -use_robot "INTERCH" -stand_by_state 
#
-name "STN1" -use_run_enable "" -use_activation_relay "STN1" \
-use_brake_relay "STN1_brake" -use_robot "STN1" -allow_move_of_user_frame \
-stand_by_state 
#
-name "STN2" -use_run_enable "" -use_activation_relay "STN2" \
-use_brake_relay "STN2_brake" -use_robot "STN2" -allow_move_of_user_frame \
-stand_by_state 

# RELAY - ?
RELAY:
#
-name "STN1" -out_signal "soACT_STN1" -in_signal "siSTN1_ACT" 
#
-name "STN2" -out_signal "soACT_STN2" -in_signal "siSTN2_ACT" 
#
-name "INTERCH" -out_signal "soACT_INTCH" -in_signal "siINTCH_ACT" 
#
-name "STN1_brake" -out_signal "doACT_K13" -in_signal "" 
#
-name "STN2_brake" -out_signal "doACT_K14" -in_signal "" 
#
-name "INTERCH_brake" -out_signal "doACT_K15" -in_signal "" 

# ARM - ?
ARM:
#
-name "ARM1" -use_arm_type "ARM1" -use_acc_data "MTC750" \
-independent_joint_on -upper_joint_bound 3.159 -lower_joint_bound -3.159 \
-upper_joint_bound_max 3.159 -lower_joint_bound_min -3.159 -cal_position 0 \
-performance_quota 1 -supervision_jam_time_factor 1 \
-supervision_load_factor 1 -supervision_speed_factor 1 \
-supervision_pos_factor 1 
#
-name "ARM2" -use_arm_type "ARM2" -use_acc_data "MTC750" \
-independent_joint_on -upper_joint_bound 3.159 -lower_joint_bound -3.159 \
-upper_joint_bound_max 3.159 -lower_joint_bound_min -3.159 -cal_position 0 \
-performance_quota 1 -supervision_jam_time_factor 1 \
-supervision_load_factor 1 -supervision_speed_factor 1 \
-supervision_pos_factor 1 
#
-name "PLATE1" -use_arm_type "PLATE1" -use_acc_data "MTC250" \
-independent_joint_on -upper_joint_bound 20 -lower_joint_bound -20 \
-upper_joint_bound_max 1256637 -lower_joint_bound_min -1256637 \
-cal_position 0 -performance_quota 1 -supervision_jam_time_factor 1 \
-supervision_load_factor 1 -supervision_speed_factor 1 \
-supervision_pos_factor 1 
#
-name "PLATE2" -use_arm_type "PLATE2" -use_acc_data "MTC250" \
-independent_joint_on -upper_joint_bound 20 -lower_joint_bound -20 \
-upper_joint_bound_max 1256637 -lower_joint_bound_min -1256637 \
-cal_position 0 -performance_quota 1 -supervision_jam_time_factor 1 \
-supervision_load_factor 1 -supervision_speed_factor 1 \
-supervision_pos_factor 1 

# ARM_TYPE - Type of arm
ARM_TYPE:
#
-name "ARM1" -length 0 -offset_x 0 -offset_y 0 -offset_z 0 -attitude 1.5708 \
-rot_axis_pose_pos_x 0 -rot_axis_pose_pos_y 0 -rot_axis_pose_pos_z 0 \
-rot_axis_pose_orient_u0 0.7071 -rot_axis_pose_orient_u1 0 \
-rot_axis_pose_orient_u2 0.7071 -rot_axis_pose_orient_u3 0 -mass 115 \
-mass_centre_x 0.39 -mass_centre_y 0 -mass_centre_z -0.19 -inertia_x 2.7 \
-inertia_y 10 -inertia_z 8.7 -max_micro_sample_torque 2150 \
-max_rapid_weave_torque 1075 -rear_length 0 -min_inertia 0 -max_inertia 450 \
-transm_inertia 4.246 -max_acc 8 -max_acc_quota 0.8 \
-rel_dist_torque_model_error 0.05 
#
-name "ARM2" -length 0 -offset_x 0 -offset_y 0 -offset_z 0 -attitude 1.5708 \
-rot_axis_pose_pos_x 0 -rot_axis_pose_pos_y 0 -rot_axis_pose_pos_z 0 \
-rot_axis_pose_orient_u0 0.7071 -rot_axis_pose_orient_u1 0 \
-rot_axis_pose_orient_u2 0.7071 -rot_axis_pose_orient_u3 0 -mass 115 \
-mass_centre_x 0.39 -mass_centre_y 0 -mass_centre_z -0.19 -inertia_x 2.7 \
-inertia_y 10 -inertia_z 8.7 -max_micro_sample_torque 2150 \
-max_rapid_weave_torque 1075 -rear_length 0 -min_inertia 0 -max_inertia 450 \
-transm_inertia 4.246 -max_acc 8 -max_acc_quota 0.8 \
-rel_dist_torque_model_error 0.05 
#
-name "PLATE1" -length 0.68 -offset_x 0 -offset_y 0 -offset_z 0.12 \
-attitude 1.5708 -rot_axis_pose_pos_x 0.68 -rot_axis_pose_pos_y 0 \
-rot_axis_pose_pos_z -0.12 -rot_axis_pose_orient_u0 1 \
-rot_axis_pose_orient_u1 0 -rot_axis_pose_orient_u2 0 \
-rot_axis_pose_orient_u3 0 -mass 9.6 -mass_centre_x 0 -mass_centre_y 0 \
-mass_centre_z -0.03 -inertia_x 0.07 -inertia_y 0.07 -inertia_z 0.13 \
-max_micro_sample_torque 530 -max_rapid_weave_torque 265 -rear_length 0 \
-min_inertia 0 -max_inertia 60 -transm_inertia 0.507 -max_acc 6 \
-max_acc_quota 0.8 -rel_dist_torque_model_error 0.05 
#
-name "PLATE2" -length 0.68 -offset_x 0 -offset_y 0 -offset_z 0.12 \
-attitude 1.5708 -rot_axis_pose_pos_x 0.68 -rot_axis_pose_pos_y 0 \
-rot_axis_pose_pos_z -0.12 -rot_axis_pose_orient_u0 1 \
-rot_axis_pose_orient_u1 0 -rot_axis_pose_orient_u2 0 \
-rot_axis_pose_orient_u3 0 -mass 9.6 -mass_centre_x 0 -mass_centre_y 0 \
-mass_centre_z -0.03 -inertia_x 0.07 -inertia_y 0.07 -inertia_z 0.13 \
-max_micro_sample_torque 530 -max_rapid_weave_torque 265 -rear_length 0 \
-min_inertia 0 -max_inertia 60 -transm_inertia 0.507 -max_acc 6 \
-max_acc_quota 0.8 -rel_dist_torque_model_error 0.05 

# MOTOR_CALIB - ?
MOTOR_CALIB:
#
-name "pos1_1" -com_offset 1.570796 -valid_com_offset -cal_offset 0 
#
-name "pos1_2" -com_offset 1.570796 -valid_com_offset -cal_offset 0 
#
-name "pos1_3" -com_offset 1.570796 -valid_com_offset -cal_offset 0 
#
-name "pos1_4" -com_offset 1.570796 -valid_com_offset -cal_offset 0 
#
-name "pos1_5" -com_offset 1.570796 -valid_com_offset -cal_offset 0 

# JOINT_JOG - ?
JOINT_JOG:
#
-name "INTERCH" -joint_1 2 -joint_2 1 -joint_3 3 
#
-name "STN1" -joint_1 0 -joint_2 2 -joint_3 -1 
#
-name "STN2" -joint_1 0 -joint_2 2 -joint_3 -1 
